* {
  box-sizing: border-box;
}

:root {
  --pink: #ffa7c4;
  --dark: #282c35;
  --dark2: #1f2127;
  --transition: 0.5s;
  --text: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body::-webkit-scrollbar {
  width: 7px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--pink);
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

.cursor-notAllowed {
  cursor: not-allowed !important;
  opacity: 0.8;
}

.modal-enter-active,
.modal-enter-done {
  z-index: 9999;
  opacity: 1 !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}
.modal-exit {
  z-index: 9999 !important;
}
.modal-exit-active {
  opacity: 0 !important;
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  left: 50% !important;
  margin-top: -25px !important;
  margin-left: -25px !important;
}

.modal-exit-done {
  z-index: -9999 !important;
}

/* Modal For Row details */

.row-details-enter,
.row-details-enter-active,
.row-details-enter-done {
  line-height: inherit !important;
  height: 100% !important;
  font-size: 1rem !important;
}

.row-details-enter td,
.row-details-enter-active td,
.row-details-enter-done td {
  height: 100% !important;
  padding: 1rem !important;
}

.row-details-enter-active td div,
.row-details-enter-done td div {
  /* height: 100%!important;
  padding: 1rem!important; */
  gap: 1rem;
}

/* End of modal for row detail */

/* 
  message login page
  max-height: 0;
padding: 0;
*/

/* .message-login-enter-active,
.message-login-enter-done {
  max-height: 100%!important;
  padding: 0.5rem!important;
}

.message-login-exit-active,
.message-login-exit-done {
  max-height: 0%;
  padding: 0rem;
} */

.message-login-enter-active,
.message-login-enter-done {
  height: 40px!important;
  padding: 0.3rem!important;
}

.message-login-exit-active,
.message-login-exit-done {
  height: 0!important;
  /* padding: 0.3rem; */
} */


/* Loader */
/* https://projects.lukehaas.me/css-loaders/ , Loader #3 */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: var(--pink);
  background: -moz-linear-gradient(
    left,
    var(--pink) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    var(--pink) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -o-linear-gradient(
    left,
    var(--pink) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: -ms-linear-gradient(
    left,
    var(--pink) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  background: linear-gradient(
    to right,
    var(--pink) 10%,
    rgba(128, 0, 255, 0) 42%
  );
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:before {
  width: 50%;
  height: 50%;
  background: var(--pink);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader:after {
  background: var(--dark);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
